/**
 * Wordpress
 * =================================
 * Sometimes wordpress generates things and tailwind can't hit it. This edits those.
 * - Single - Category
 * - Privacy Policy Styles
 *
 *
 *
 */

.category {
  ul {
    display: inline-block;
  }

  li {
    background-color: #0a4b78;
    padding: 10px;
  }
}

/* Privacy Policy Page */
// WP generates this, so in order for it to look right I have to manually style it.
.privacy-policy {
  h2 {
    font-size: 2em;
    font-weight: 800;
    padding-top: 10px;
  }
}

/* About Us Page */
// I don't know how many paragraphs will get generated so this code adds some padding to the bottom of the paragraphs
.bio {
  p {
    padding-bottom: 10px;
  }
}

.video-wrapper {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
}
.video-wrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}